<!DOCTYPE html>
<html lang="en">

<body>
  <div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
    <!-- Spinner End -->

    <!-- Sign In Start -->
    <div class="container-fluid">
      <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
          <div class="p-4 p-sm-5 my-4 mx-3" style="background-color: #E5E1DD; border-radius: 10px;">
            <form>
              <div class="row">
                <img src="assets/logo_01.png" alt="ภาพ" style="height: 30%;width: 30%;" class="mx-auto d-block" />
              </div>

              <div class="form-floating">
                <input [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" type="email" class="form-control"
                  id="username" placeholder="name@example.com">
                <label for="username">อีเมล</label>
              </div>
              <div class="form-floating" style="margin-top: 5px;">
                <input [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" type="password"
                  class="form-control" id="password" placeholder="name@example.com">
                <label for="username">รหัสผ่าน</label>
              </div>

              <button type="submit" class="btn btn-primary py-3 w-100 mb-4" style="margin-top: 15px;" (click)="login()">เข้าสู่ระบบ</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign In End -->
  </div>
</body>

</html>
